GROQ_API_KEY=https://console.groq.com/keys
JWT_SECRET_KEY=change_this_to_64char_random_string
DATABASE_URL=postgresql+psycopg2://user:password@db.supabase.co:5432/postgres
PINECONE_API_KEY=pcsk_...
PINECONE_INDEX_NAME=************************
MODEL_REPO_ID=your-hf-username/medassist-densenet121
NCBI_EMAIL=your@email.com   
SUPABASE_URL=**********
SUPABASE_SERVICE_KEY=********** 
REDIS_URL=rediss://default:<password>@<endpoint>.upstash.io:<port>
SQL_AGENT_READONLY_URL=postgresql+psycopg2://sql_agent_readonly:<password>@db.xxx.supabase.co:5432/postgres
